
.project_container {
	perspective: 500px;
	margin: 3rem 0;
}
.projects {
	z-index: 5;
	transform-style: preserve-3d;
	
	color: var(--main-color);
	background-color: var(--main-bg-color);
	
	cursor: pointer;
	border-radius: 0 0 15px 15px;
	width: 250px;
	margin: 5% auto;

	-webkit-box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.75);
}

h2 { 
	font-size: 1em; 
}
h4 {
	font-size: 0.75em;
	color: #858aa0;
}

.project_img {
	width: 100%;
	height: 250px;
	background-color: teal;
	background-size: cover;
	background-position: center;
}

.projects .project_title {
	margin: 15px 10px;
	font-family: 'Lato', sans-serif;
	color: #858aa0;
}

.project_date {
	margin: 20px 10px 0 10px;
}
.project_name, .project_tag {
	margin: 10px 10px 10px 10px;
}
.project_description .tag {
	padding: 4px 4px 3px 4px;
	font-size: 0.7em;
	font-family: 'Roboto', sans-serif;
	background-color: #0a1028;
	border-radius: 5px;
	text-decoration: none;
}

 .project_description {
	z-index: 0;
	margin: auto auto;
	padding: 1em;
	background-color: #1f253e;
	border-radius: 15px;
	-webkit-box-shadow: 0px 10px 20px 1px rgba(30,144,255,0.75);
	-moz-box-shadow: 0px 10px 20px 1px  rgba(30,144,255,0.75);
	box-shadow: 0px 10px 20px 1px  rgba(30,144,255,0.75);
}

 .project_description h3 {
	color: #e3e3e3;
	margin: 10px 0 10px 0;
}
 .project_description p {
	color: #858aa0;
	margin: 20px 0 20px 0;
}
 .project_description a {
	text-decoration: none;
	color: inherit;
}
 .project_description .link {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 10px;
	color: #e3e3e3;
}

.projectSelected {
	-webkit-box-shadow: 0px 10px 20px 1px rgba(30, 144, 255, 0.749);
	-moz-box-shadow: 0px 10px 20px 1px  rgba(30,144,255,0.75);
	box-shadow: 0px 10px 20px 1px  rgba(30,144,255,0.75);
}
.titleSelected {
	color: #FFFFFF;
	text-shadow: #FFF 0px 0px 5px, dodgerblue 0px 0px 10px, #FFF 0px 0px 15px, dodgerblue 0px 0px 20px, dodgerblue 0px 0px 30px, dodgerblue 0px 0px 40px, dodgerblue 0px 0px 50px, dodgerblue 0px 0px 75px;
}

.icons {
	font-size: 2rem;
	margin: 0 1rem;
}
.icons:hover {
	color: dodgerblue;
}

.rotate90 {
	transform: rotate(90deg);
}

@media screen and (min-width: 646px) {
	.project_description {
		max-width: 900px;
	}
}