
.container {
	margin: auto auto;
    background-color: var(--secondary-bg-color);
	padding: 4rem 2rem;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
	grid-auto-flow: row dense;
}

@media screen and (min-width: 364px) {
	.portfolio {
		grid-template-columns: repeat(2, 1fr);
	}
	.project_description {
		grid-column: span 2;
	}
}

@media screen and (min-width: 646px) {
	.portfolio {
		grid-template-columns: repeat(3, 1fr);
	}
	.project_description {
		grid-column: span 3;
	}
}