:root {
  --main-bg-color: #1f253e;
  --secondary-bg-color: #2C324F;

  --main-color: #e3e3e3;
  --secondary-color: #858aa0;
}
.color-html {
  color: #ff8c4e;
}
.color-css {
  color: #3899d4;
}
.color-js {
  color: #ffde56;
}
.color-php {
  color: #505c91;
}

.color-bootstrap {
  color: #563d7c;
}
.color-sass {
  color: #cb689a;
}
.color-compass {
  color: #fc272b;
}
.color-vanilla {
  color: #e6d9a7;
}
.color-oclock {
  color: #22c2a7;
}
.color-meteor {
  color: #E04E4B;
}
.color-mongodb {
  color: #69b241;
}
.color-mysql {
  color: #f29123;
}

.App {
  text-align: center;
}
